---
---

$yellow: yellow;

body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-family: sans-serif;
  position: relative;

  background: #dedede;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.site-title {
  position: fixed;
  float: left;
  font-size: 62px;
  font-weight: 300;
  left: -.1em;
  top: -1.15em;
  color: #ccc;
  z-index: -1;
}

.wrapper {
  max-width: 75%;
  margin: auto;
  clear: both;
  background: #000;
  color: #fff;
}

main {
  .bg-highlight {
    background: #fff;
    color: #343434;
    padding: 5px;
  }

  h1 {
    font-weight: 300;

    &:before, &:after {
      content: '';
      display: inline-block;
      width: 200px;
      height: 200px;
      background: url('/assets/images/eye.jpg') no-repeat no-repeat center center;
      background-size: cover;
    }

    &:after {
      transform: scaleX(-1);
      filter: FlipH;
    }
  }

  .slogan {
    padding-bottom: 50px;
  }

}

.subscribe {
  padding: 20px 0 40px;
  background: rgba(255,255,255,0.2);

  h2 {
    color: #aaa;
    font-size: 1em;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 20px;
  }

  form > div { display: inline-block; }

  input {
    outline: none;
    border: none;
    padding: .5em;
    font-size: 1.25em;
    font-weight: 300;
    display: inline-block;

    &::placeholder { color: #aaa; }

    &[type="email"] { color: #343434; }

    &[type="submit"] {
      background: #000;
      color: #fff;
      font-weight: 300;

      &:hover { cursor: pointer; }
    }
  }
}

nav {
  padding: 20px 5px 5px;
  width: 100%;
  text-align: right;

  ul {
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-right: .5em;

      a {
        display: block;
        padding: .5em 1em;

        &:hover {
          transition-duration: .2s;
        }
      }
    }
  }
}

@media screen and (max-width: 765px) {

  .wrapper {
    max-width: 90%;
  }

  main h1 {
    padding: 40px 0;

    &:after, &:before {
      width: 100px;
      height: 100px;
      margin-left: 40px;
      float: left;
    }

  }
}
@media screen and (max-width: 640px) {

  body {
    padding-bottom: 10px;
  }

  .site-title {
    color: #d5d5d5;
    top: -30px;
    left: auto;
  }

  main h1:before,
  main h1:after { display: none; }

  .subscribe form {

    input {
      width: 100%;
      margin-bottom: 10px;
    }

    margin: auto;
    max-width: 75%;
  }
}
