<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weekly Cat</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="style.css">

  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
  <header>
    <h1 class="site-title">{{ site.title }}</h1>
    {% include nav.html %}
  </header>
  <main>
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  <footer>
  </footer>

  <script>
    var submit = key => {
      document.querySelector('[name="_gotcha"]').value = key;
      document.querySelector('.subscribe form').submit();
    };
  </script>
</body>
</html>
